@model IEnumerable<IVolunteerMVC.Models.ProjectModel.Posting>
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <center>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
    </center>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner5.jpeg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner6.jpeg" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner7.jpeg" alt="Package Management" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner8.jpeg" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>

</div>

<div class="container">


    <div class="search_options well">
        <div class="search_options_topic">
            <center><h3>Volunteer Openings Filter</h3></center>
        </div>

        <div class="filterBar">
            <center>
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input placeholder="Title" type="text" name="SearchString" />
                            <span><button type="submit" class="btn btn-primary btn-sm">Search</button></span> |
                            <a asp-action="Index">Back to Full List</a>
                        </p>
                    </div>
                </form>


            </center>
        </div>
    </div>

    <hr />

    <div id="postings">
        <h4>Latest Volunteer Opportunities</h4>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="well col-md-3 col-sm-12">
                    <a asp-action="Details" asp-route-id="@item.PostingId">
                        <div class="jobPost">
                            <h4>@Html.DisplayFor(modelItem => item.JobTitle)</h4>
                            <p>
                                @Html.DisplayNameFor(model => model.Description)
                            </p>
                        </div>
                    </a>
                    <div class="jobPost_Prop"><span class="glyphicon glyphicon-map-marker"></span>  @Html.DisplayFor(modelItem => item.JobLocation) </div>
                    <div class="jobPost_Prop"><span class="glyphicon glyphicon-list"></span> @Html.DisplayFor(modelItem => item.Category) </div>
                    <div class="jobPost_Prop"><a asp-controller="JobApplications" asp-action="Create" asp-route-id="@item.PostingId" class="btn btn-sm btn-success">Apply</a></div>
                </div>
            }
         


        </div>

        <center>
            <button class="btn btn-load">Load More</button>
        </center>

        <center><h4>Browse by Categories</h4></center>

        <div class="row">
            <div class="col-md-6 well">
                Administration
            </div>
            <div class="col-md-3 well">
                Sciences
            </div>
            <div class="col-md-3 well">
                Art
            </div>
            <div class="col-md-3 well">
                Commercial
            </div>
            <div class="col-md-3 well">
                Language
            </div>
            <div class="col-md-3 well">
                Couselling
            </div>
            <div class="col-md-3 well">
                Full-Time
            </div>
        </div>
    </div>
</div>


       

