@model IEnumerable<IVolunteer.Models.ProjectModel.Application>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.CoverLetter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfApplication)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Posting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.CoverLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posting.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
